version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: ElecWasteCollection.API/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - .:/app  # Đảm bảo bạn chia sẻ toàn bộ thư mục với container
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
